# Old CVS checkout metadata
CVS/

# Autotools/configure outputs
Makefile
config.cache
config.h
config.log
config.status
configure.lineno
libtool
stamp-h1
autom4te.cache/

# Compiler and libtool outputs
.deps/
.libs/
*.a
*.la
*.lo
*.o
*.so
*.so.*

# Java build outputs
*.class
*.jar
classjava.stamp

# Dataman server utility binaries
server/check_it
server/dataman
server/dataman_con
server/dataman_srv
server/dbclean
server/dbserve
server/dfedit
server/dnodes
server/dumpdf
server/dumpix
server/mkdf
server/mkidx
server/rebuild
server/term_dbserve

#testing artifacts
tests/php/files/one_rec
tests/php/index/one_rec_idx
tests/java/files/one_rec
tests/java/index/one_rec_idx
